main {

    .how__its__work__section {
        padding: 64px 0px;
        position: relative;

        .mini__container {
            max-width: 1040px;


            h2 {
                width: 100%;
                margin: 0px 0px 24px 0px;
            }

            .how__its__work__list {
                position: relative;
                z-index: 5;

                ol {
                    padding: 0;
                    margin-bottom: 48px;

                    li {
                        color: $lightText;
                        margin-bottom: 24px;
                        list-style-position: inside;
                        font-size: 28px;
                        line-height: 34px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .how__its__work__cover {
                position: absolute;
                z-index: 1;
                top: 70px;
                right: 0;

                img {
                    display: block;
                }

                @media screen and (max-width: 1120px) {
                    width: 70vw;

                    img {
                        width: inherit;
                    }
                }

                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }

            @media screen and (max-width: $mobile) {

                .how__its__work__list {
                    text-align: center;

                    a {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .move__your__way__section {
        background: $lightGray;
        padding: 64px 0px;

        h2 {
            margin: 0px 0px 24px 0px;
        }

        p {
            font-size: 20px;
            line-height: 25px;
            color: $darkText;
            margin: 0px;
        }

        .move__your__way__items {
            display: flex;
            justify-content: center;
            gap: 16px;
            margin-top: 48px;

            .move__your__way__item {
                width: 334px;
                background: #fff;
                padding: 24px;
                border-radius: 16px;
                transition: all $trs;

                .mywi__cover {
                    max-width: 250px;
                    max-height: 250px;
                    overflow: hidden;
                    margin: 0 auto 16px auto;
                    margin-bottom: 16px;

                    a {
                        display: block;
                        margin-bottom: 16px;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all $trs;
                        }
                    }
                }

                .mywi__header {
                    display: flex;
                    justify-content: space-between;
                    gap: 16px;

                    p {
                        font-size: 16px;
                        white-space: nowrap;

                        &.offer {
                            color: $primary;
                            background: #F1EEF8;
                            border-radius: 20px;
                            padding: 1px 10px;
                        }
                    }
                }

                .mywi__title__subtitle {
                    margin: 24px 0px;

                    h4 {
                        margin: 0px 0px 16px 0px;

                        a {
                            text-decoration: none;
                            color: $lightText;
                            font-size: min(29px, max(15px + 2vw));
                        }
                    }

                    p {
                        color: $lightText;
                    }
                }

                .mywi__btn {
                    a {
                        justify-content: center;
                        width: 100%;
                        transform: translateY(0px);
                    }
                }

                &:hover {
                    box-shadow: 0px 0px 30px #ccc;

                    .mywi__cover {
                        a {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .mywi__btn {
                        a {
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $tabletM) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: $mobile) {
            .move__your__way__item {
                width: 100%;

                .mywi__header {
                    justify-content: center;
                }

                .mywi__title__subtitle {
                    text-align: center;
                }
            }
        }

        @media screen and (max-width: 480px) {
            .move__your__way__item {
                width: 100%;

                .mywi__header {
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .mywi__title__subtitle {
                    text-align: center;
                }
            }
        }

        @media screen and (max-width: $mobile) {
            .move__your__way__item {
                width: 100%;

                .mywi__header {
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .mywi__title__subtitle {
                    text-align: center;
                }
            }
        }
    }

    .just__ride__section {
        background: #f5f5f7;
        padding: 0px 0px 64px 0;

        .mini__container {
            display: flex;
            gap: 32px;

            .just__ride__left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 426px;

                h3 {
                    margin: 0px 0px 26px 0px;
                    font-weight: 400;
                }

                p {
                    margin: 0px 0px 39px 0px;
                }
            }

            .just__ride__right {
                margin: 0 auto;
                height: unset;
                width: 597px;
                height: 378px;
                overflow: hidden;
                height: 100%;

                img {
                    display: block;
                    width: 100%;
                }
            }

            @media screen and (max-width: $tabletM) {
                flex-wrap: wrap;

                .just__ride__left {
                    align-items: center;
                    text-align: center;
                    width: 100%;
                }

                .just__ride__right {
                    margin: 0 auto;

                    img {
                        height: unset;
                    }
                }
            }
        }
    }

    .cities__list__section {
        display: flex;
        align-items: center;
        background-image: url("../../img/big-banner.jpg");
        min-height: 715px;
        background-size: cover;
        background-position: center center;
        padding: 64px 0px;

        .container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;

            .cities__list__left {

                h3,
                p {
                    text-shadow: 1px 1px 6px #000;
                }

                h3 {
                    color: #fff;
                    font-size: min(65px, max(32.5px + 2vw));
                    font-weight: 400;
                    margin: 0px 0px 16px 0px;
                }

                p {
                    color: #fff;
                    font-size: 21px;
                    font-weight: 400;
                    line-height: 25px;
                    margin: 0;
                }

                a {
                    margin: 32px 0px;
                }
            }

            .cities__list__right {
                h5 {
                    font-size: min(100px, max(50px + 2vw));
                    margin: 0px 0px 16px 0px;
                    color: #fff;
                    font-weight: 400;
                    letter-spacing: 5px;
                    text-shadow: 1px 1px 6px #000;
                }
            }

            @media screen and (max-width: $tabletM) {
                flex-wrap: wrap;

                .cities__list__left {
                    margin-bottom: 48px;

                    a {
                        margin: 32px auto;
                    }
                }

                .cities__list__right,
                .cities__list__left {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .youre__in__charge__section {
        padding: 64px 0px;

        .mini__container {
            display: flex;
            gap: 32px;

            .yicc__left {
                max-width: 282px;

                h3 {
                    margin: 0px 0px 26px 0px;
                    font-weight: 400;
                }

                p {
                    margin: 0px 0px 39px 0px;
                    max-width: 252px;
                    font-size: 21px;
                    line-height: 25px;
                }

                .checks {
                    .checks__item {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        background: $lightGray;
                        margin-bottom: 16px;
                        padding: 8px 16px;
                        border-radius: 40px;

                        svg {}

                        span {}
                    }
                }
            }

            .yicc__right {
                display: flex;
                gap: 24px;
                justify-content: space-between;

                .yicc__right__items {
                    display: flex;
                    gap: 24px;
                    justify-content: space-between;

                    .yicc__right__item {
                        background: $lightGray;
                        padding: 32px;
                        border-radius: 16px;

                        .yicc__right__item__cover {
                            a {
                                display: block;
                                max-width: 286px;
                                max-height: 286px;
                                overflow: hidden;

                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .yicc__right__item__price__and__cat {
                            display: flex;
                            justify-content: space-between;

                            p {
                                margin: 0;

                                &:first-child {
                                    color: $lightGray;
                                }

                                &:last-child {
                                    color: $primary;
                                }
                            }
                        }

                        .yicc__right__item__title__and__subtitle {
                            h4 {
                                margin-top: 32px;
                                margin-bottom: 16px;

                                a {
                                    text-decoration: none;
                                    color: $darkText;
                                    font-size: 29px;
                                    font-weight: normal;
                                }
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: $tabletM) {
                flex-wrap: wrap;
                justify-content: center;

                .yicc__left {
                    max-width: unset;

                    p {
                        max-width: unset;
                    }
                }
            }

            @media screen and (max-width: $mobile) {
                .yicc__right {
                    .yicc__right__items {
                        flex-wrap: wrap;

                        .yicc__right__item {
                            width: 100%;

                            .yicc__right__item__cover {
                                a {
                                    margin: 0 auto;
                                }
                            }

                            .yicc__right__item__price__and__cat {
                                justify-content: center;
                                gap: 32px;
                            }

                            .yicc__right__item__title__and__subtitle {
                                text-align: center;
                            }

                            .yicc__right__item__btn {
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
            
            @media screen and (max-width: 480px) {
                .yicc__right {
                    .yicc__right__items {
                        .yicc__right__item {
                            .yicc__right__item__price__and__cat {
                                flex-direction: column;
                                align-items: center;
                                gap: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}